export AWS_ACCESS_ID='AKIAIOK4EJU7N41WQWXQ'
export AWS_ACCESS_KEY='OZoDwtLu+lTjfu0q13R5DbLZi8fZz1mFZaenQVJA'

export AWS_KEYPAIR_NAME='jongiddy'
export AWS_KEYPAIR_KEY_FILE=${HOME}/.ssh/aws-key.pem

export AWS_SECURITY_GROUP='allow-ssh'
